<%= form_with(model: @company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Company Name' %>
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :locations do |location_subform| %>
    <h3>Create Company Location</h3>
    <%= render 'location_subform', location_subform: location_subform %>
  <% end %>

  <%= f.fields_for :users do |user_subform| %>
    <h3>Create Company User</h3>
    <div class="field">
      <%= user_subform.label :email %>
      <%= user_subform.text_field :email %>
    </div>

    <div class="field">
      <%= user_subform.label :password %>
      <%= user_subform.password_field :password %>
    </div>

    <div class="field">
      <%= user_subform.label :password_confirmation %>
      <%= user_subform.password_field :password_confirmation %>
    </div>

    <div class="field">
      <%= user_subform.hidden_field :role_id, value: '3' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>