<div class="location">
  <h3>Address: <%= location.address %></h3>
  <p>City: <%= location.city %></p>
  <p>State: <%= location.state %></p>
  <p>Zip: <%= location.zip_code %></p>
  <%= button_to 'Edit', edit_location_path(location), method: :get %>
  <%= button_to 'Delete', location_path(location), method: :delete %>
</div>